---
import "../styles/index.css"
import Article from "../components/article.astro"

const articlesList = await Astro.glob("./articles/ca/**/*.mdx")

console.log(articlesList)
---

<!doctype html>
<html lang="es-CA">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>seubdn</title>
		<link rel="icon" href="/seubdn.webp" />
	</head>
	<body class="font-sans">
		<nav class="max-w-[1000px] p-[26px] m-auto">
			<a href="/">
				<img src="/seubdn.webp" alt="Logo de seubdn" class="w-[62px] h-[62px]" />
			</a>
		</nav>
		<main class="max-w-[1000px] p-[26px] m-auto">
			<section class="w-full flex flex-col">
				{
					articlesList
						.sort((a, b) => {
							return b.frontmatter.date - a.frontmatter.date
						})
						.map((post) => (
							<Article
								href={post.frontmatter.href}
								title={post.frontmatter.title}
								topic={post.frontmatter.topic}
								author={post.frontmatter.author}
								thumbnail={post.frontmatter.image}
							/>
						))
				}
			</section>
		</main>
	</body>
</html>
