---
import "../styles/index.css"

const { frontmatter } = Astro.props

const date = new Date(frontmatter.date)
const day = date.getDate()
const month = date.getMonth()
const year = date.getFullYear()

---

<!doctype html>
<html lang="es-CA">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>seubdn</title>
		<script src="/lazy.js" defer></script>
		<link rel="icon" href="/seubdn.webp" />
		<style is:global>
			main h1 {
				font-size: 25px;
			}
			main h2 {
				font-size: 20px;
			}
			main h1, main h2 {
				text-align: center;
				font-weight: 800;
				max-width: 500px;
				margin: auto;
				margin-top: 20px;
				margin-bottom: 20px;
			}
			main img {
				border-radius: 7px;
				width: 100%;
				max-height: 500px;
				object-fit: cover;
			}
			
		</style>
	</head>
	<body class="font-sans">
		<nav class="max-w-[1000px] p-[26px] m-auto">
			<a href="/">
				<img src="/seubdn.webp" alt="Logo de seubdn" class="w-[62px] h-[62px]" />
			</a>
		</nav>
		<header class="max-w-[1000px] p-[26px] m-auto flex max-md:flex-col">
			<div class="w-full">
				<img src={frontmatter.image} alt="">
			</div>
			<div class="px-[12px] w-full max-md:px-0">
				<h1 class="font-bold text-[25px]">{frontmatter.title}</h1>
				<p>{frontmatter.author}</p>
				<p>{day}/{month+1}/{year}</p>
			</div>
		</header>
		<main class="max-w-[750px] p-[26px] m-auto">
			<slot />
		</main>
	</body>
</html>
